/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.fa-arrow-circle-o-down {
  color: snow;
  opacity: 0.5;
}
html,
body {
  overflow-x: hidden;
  color: black;
  font-family: "Opens Sans", helvetica;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px;
}

.ikon {
  color: #706a6a;
}
.ikon:hover {
  opacity: 0.7;
}
